name : Postman Collection Workflow

on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron : 30 07 * * * # 8 am CET Every day
    - cron : 00 06 * * * # 7 pm CET Every day
    - cron : 00 07 * * 1-5 # 1130 am IST Monday to Friday

jobs:
  run-postman-tests:
    runs-on: ec2-github-runner

    steps:
    
      - name: Checkout the code
        uses: actions/checkout@v6.0.1

      - name: Install Nodejs and npm
        uses: actions/setup-node@v6.1.0
        with:
          node-version: '22'

      - name: Install Newman and Html-extra globally
        run: | 
             npm install -g newman
             npm install -g newman-reporter-htmlextra

             
      - name: Run the Postman Collection with newman
        run: |
             newman run 'Inwarranty-flow collection Copy.postman_collection.json' \
             -e QA.postman_environment.json \
             -d testdata.csv \
             -r cli,htmlextra \
             --reporter-htmlextra-export ./newman/index.html

             
      - name : Newman Report
        if: always() # ensure that the archive executed irrespective whether the previous step has passed or not!
        uses: actions/upload-artifact@v4.6.2
        with:
          name: Newman Report
          path: newman/*.html

      - name : Deploy to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: newman/

      - name: Send email  
        if: always()
        uses: dawidd6/action-send-mail@v5
        with:
           server_address: smtp.gmail.com
           server_port: 465
           username: ${{ secrets.EMAIL_USERNAME }}
           password: ${{ secrets.EMAIL_PASSWORD }}
           subject: Postman Test Results 
           to: nibritisingh71@gmail.com
           from : ${{ secrets.EMAIL_USERNAME }}
           body: | 
             Hi, 
             The test report for the postman execution via github action.
             You can view the same on the url: https://nibritisingh.github.io/Phoenix-Inwarranty-Flow/
             
