name : Postman Collection Workflow

on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron : 30 07 * * * # 8 am CET Every day
    - cron : 00 06 * * * # 7 pm CET Every day
    - cron : 00 07 * * 1-5 # 1130 am IST Monday to Friday

jobs:
  run-postman-tests:
    runs-on: ubuntu-latest

    steps:
    
      - name: Checkout the code
        uses: actions/checkout@v6.0.1

      - name: Install Nodejs and npm
        uses: actions/setup-node@v6.1.0
        with:
          node-version: '22'

      - name: Install Newman and Html-extra globally
        run: | 
             npm install -g newman
             npm install -g newman-reporter-htmlextra
      - name: Run the Postman Collection with newman
        run: |
             newman run 'Inwarranty-flow Collection.postman_collection.json' \
             -e QA.postman_environment.json \
             -d testdata.csv \
             -r cli,htmlextra
             
        
